@use "mixins";
@use "normalize";

//Seccion Variables//

//Colores//
$yellowGreen: #9acd32;
$cherryBlossomPink: #ffb6c1;
$skyBlue: #87ceeb;
$lemonChiffon: #fffacd;
$timberWolf: #d3d3d3;

body {
  background-color: $timberWolf;
  @include mixins.crearFlex(column, center, center, center, inherit);
}
